@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D4459;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 400px;
    height: 500px;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 5fr .5fr;
    justify-content: center;
    background-color: #D9CBBA;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.location {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    color: #D9653B;
}

.details {
    width: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
}

li {
    padding-bottom: 10px;
    margin: 0 20px;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.2)
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.changeBtn {
    width: 150px;
    margin: 0 auto;
    background-color: #D9653B;
    color: white;
}

.location-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.location-modal.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-form {
    width: 500px;
    height: 350px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #D9653B;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.4);
    color: white;
}

.location-form h3 {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.location-form input {
    width: 100%;
    height: 30px;
    margin: 10px auto;
    padding: 5px 10px; 
    border-radius: 5px;
    border: none;
    outline: 0;
}

.location-form button {
    width: 150px;
    font-weight: bold;
}

.location-form button.xBtn {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.modal-buttons-container {
    margin-top: 50px;
    text-align: right;
}

.location-form button.closeBtn {
    width: 100px;
}

.location-form button.submitBtn {
    background-color: #5CF29D;
}



